@import url('./color.css');

/**
 *  CSS Index
 *
 * 1. #Font
 * 2. #Reset
 * 3. #Buttoms themes
 * 4. #Title theme
 */

/**
  * #Font themes
  */

@font-face {
    font-family: "Roboto Light";
    src: url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Roboto Bold";
    src: url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: block;
}

@font-face {
    font-family: "Roboto Black";
    src: url("../fonts/roboto/Roboto-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
    font-display: block;
}

@font-face {
    src: url("../fonts/Bebas_Neue/BebasNeue-Regular.ttf") format("truetype"), url("../fonts/Bebas_Neue/BebasNeue-Regular.otf") format("opentype");
    font-family: "BebasNeue";
    font-display: block;
}

@font-face {
    src: url("../fonts/Bebas_Neue/BebasNeue-Bold.ttf") format("truetype");
    font-family: "BebasNeueBold";
}

/**
   * #Reset CSS
*/

* {
    font-family: "BebasNeue";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    text-decoration: none;
}

html {
    font-size: 65.2%;
}

body {
    overflow-x: hidden;
}

img {
    width: 100%;
    height: 100%;
}

ul,
li {
    list-style: none;
}

section {
    width: 100vw;
    padding: 0 4rem;
    margin: 0 auto;
}



/**
 *  #Buttoms themes
 */

.btn {
    padding: 1rem 1.3rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 2.2em;
    cursor: pointer;
}


.btn-green {
    background: var(--bg-btn-green);
    color: var(--title-color);
}

.btn-red {
    background: var(--secondary-color);
    color: var(--title-color);
}



/**
* #Title theme
*/
.title_container {
    font-size: 3rem;
    font-weight: 600;
    font-family: "BebasNeue";
    padding: 1.5rem 0;
}

/**
 * #forms custom
 */

label {
    font-size: 2em;
    font-family: "BebasNeue";
    padding: 1.3rem 1.2rem;
    color: var(--title-color);
}

/***
 * #scrollbar
 */

::-webkit-scrollbar {
    background-color: #ffffff;
    width: 0.6rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-color);
}


/**
 * #navbar top
 *
 */

.nav-top__active {
    display: none;
}

.nav-middle__show {
    position: sticky;
}

.main-header .nav-top {
    position: relative;
    z-index: 11;
    padding: 0 4rem;
    background-color: var(--primary-color);
    height: 8rem;
}

.nav-top .container-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
}

.container-box .container-box_logo {
    width: 15rem;
}


.container-box .container-box_info-details {
    display: flex;
}

.container-box .container-box_info-details .info-item {
    margin-left: 3rem;
}

.container-box .container-box_info-details .info-item a {
    font-size: 1.8em;
    color: var(--title-color);
}

.container-box .container-box_info-details .info-item a i {
    font-size: 1.8em;
    margin-right: 0.8rem;
}

/** #navbar middle */

.nav-middle {
    position: relative;
    z-index: 99;
    width: 100%;
    padding: 0 4rem;
    height: auto;
    transition: all 0.7s linear;
}

.container-box .navbar {
    padding: 1.5rem 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-box .navbar .navbar__menu {
    display: flex;
    align-items: center;
    width: 100%;
}

.container-box .navbar .navbar__menu .navbar__menu-item {
    margin-left: 2rem;
}

.navbar__menu .navbar__menu-item a {
    color: var(--link-navbar);
    font-size: 2em;
}

.navbar__menu .navbar__menu-item a:hover {
    color: var(--secondary-color);
}

.container-box .navbar .navbar__menu .navbar__menu-item:nth-child(6) {
    margin-left: auto;
}

.container-box .navbar .navbar__menu .navbar__menu-item:nth-child(6) .btn-whs {
    color: white;
    padding: 1.2rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.container-box .navbar .navbar__menu .navbar__menu-item:nth-child(6):hover .btn-whs {
    color: var(--bg-btn-green);
    background: var(--title-color);
    border: solid 1px var(--bg-btn-green);
}


.nav-middle .container-box .navbar .fa-bars{
    font-size: 3rem;
    cursor: pointer;
    display: none;
    transition: 2s;
    color: var(--primary-color);
}

.nav-middle .container-box .navbar .fa-window-close{
  transform: rotate(180deg);
  color: var(--secondary-color);
  transition: 2s;
}

/***
 * #Home
 */

.home {
    /**! position */
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    /**! box model */
    width: 100vw;
    min-height: 100vh;
    /**! typography */
    /**! visual */
}

.home .home__banner {
    position: absolute;
    left: 0;
    top: -150px;
    width: 100vw;
}

.home__banner .slide-item {
    position: relative;
    padding-top: 25rem;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.home__banner .slide-item > img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center 25%;
    transform: scale(1);
}


.home__banner .slide-item .slide-item__block {
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: start;
    gap: 3rem;
    width: 50%;
    transform: translateX(150px);
    transition: all 1s ease-in-out .7s;
}

.slide-item__block .slide-item__img {
    max-width: 65.5%;
    width: 100%;
}

.slide-item__block .slide-item__text {
    font-size: 8rem;
    color: var(--title-color);
}


/**
 * #Products
 */
.top_products {
    text-align: center;
    display: flex;
    flex-flow: column;
    flex-direction: column-reverse;
    justify-content: space-around;
    width: 100vw;
}

.top_products .title_container {
    color: var(--primary-color);
    font-size: 5rem;
}

.top_products .container-box {
    display: flex;
    justify-content: space-evenly;
    gap: 22rem;
}

.top_products .container-box .box-item {
    width: 20rem;
    height: 25rem;
    background: var(--bg-gradiant);
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    border: solid 1px gray;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
}

.top_products .container-box .box-item .title span {
    font-size: 2.5em;
    color: var(--title-color);
    font-weight: 800;
}

/***
 * #About
 */

.about {
    margin-top: 10rem;
    width: 100vw;
    min-height: 100vh;
}

.about .container-box {
    padding: 0 4rem;
    display: flex;
}

.about .container-box .box-item {
    width: 50%;
    margin-left: 3rem;
    position: relative;
    padding: 2rem;
}

.about .container-box .pictures_box div:nth-child(1) {
    position: relative;
    left: 0;
    z-index: 1;
}

.about .container-box .pictures_box div:nth-child(1) > img {
    height: 50rem;
    border-radius: 1.5rem;
    object-fit: cover;
}

.about .container-box .pictures_box div:nth-child(2) {
    position: relative;
    left: -8%;
    top: -15%;
    z-index: 3;
}

.about .container-box .pictures_box div:nth-child(2) > img {
    width: 50%;
    height: 20rem;
    border-radius: 1.5rem;
    object-fit: cover;
}

.container-box .box-item .title_container {
    color: var(--primary-color);
    font-weight: 800;
    font-size: 5em;
}

.container-box .box-item .text h6 {
    font-size: 3.5em;
    text-transform: uppercase;
    color: var(--primary-color);
}

.container-box .box-item .text h6 span {
    color: var(--secondary-color);
}

.container-box .box-item .text p {
    margin-top: 0.4rem;
    font-family: "BebasNeue";
    font-size: 2.5em;
    letter-spacing: normal;
    font-weight: 500;
    color: var(--primary-color);
}


/***
 * #Option
 */
.optiones-services {
    width: 100vw;
    height: 100vh;
    background-image: url('../img/banners/desktop/bg_option.webp');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.optiones-services .optiones-services__container {
    height: 100%;
    display: flex;
    flex-flow: row;
}

.optiones-services__container .optiones-services__item {
    width: 50%;

}


.optiones-services__item .title__item {
    padding: 2rem 3rem;
    text-align: center;
    margin-top: 4rem;
}

.optiones-services__item .title__item>h6 {
    font-size: 5rem;
    color: var(--title-color);
}

.optiones-services__item .sub-container__item {
    display: flex;
    width: 100%;
    margin-top: 5rem;
    justify-content: space-evenly;

}

.optiones-services__item .sub-container__item .item__box {
    max-width: 65.5%;
    width: 100%;
    height: auto;
    display: flex;
    gap: 2rem;
    text-align: center;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1.5rem;
}

.sub-container__item .item__box:nth-child(2) {
    position: relative;
    top: 10rem;
}

.optiones-services__item .sub-container__item .item__box h6 {
    font-size: 2rem;
    color: var(--title-color);
}

.optiones-services__item:nth-child(2) {
    position: relative;
}


.optiones-services__item .image {
    max-width: 65.5%;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 10%;
    z-index: 2;
}


/***
 * type_products
 */

.type_products {
    min-height: 100vh;
    width: 100vw;
    margin-top: 10rem;
}

.type_products .box-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5rem;

}

.type_products .box-container .item-card {
    width: 50rem;
    height: 20rem;
    display: flex;
    padding: 0.4 3rem;
    border-radius: 1.2rem;
    background: var(--bg-gradiant);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border: solid 1px gray;

}

.box-container .item-card .title,
.box-container .item-card .image {
    width: 50%;
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.box-container .item-card .title h6 {
    color: var(--title-color);
    font-size: 2.5rem;
}

/***
  * #special_services
  */

.special_services {
    position: relative;
    min-height: 100vh;
    z-index: 0;
    background-image: url('../img/banners/desktop/bg_option.webp');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.special_services h6 {
    color: var(--title-color);
    font-size: 5em;
}

.special_services .container-box {
    min-height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.special_services .container-box .card__services {
    width: 25rem;
    background: var(--primary-color);
    border-radius: 0.8rem;
    cursor: pointer;
}

.special_services .container-box .card__services:hover {
    transition: all 0.5s;
    transform: scale(1.1);
}

.container-box .card__services .card__services-img > img {
    border-radius: 0.8rem 0.8rem 0 0;
}

.container-box .card__services .card__services-text {
    padding: 1.2rem 1.5rem;
    text-align: center;
}

.container-box .card__services .card__services-text span {
    color: var(--title-color);
    font-weight: 600;
    font-size: 2em;
}

.container-box .card__services button {
    width: 100%;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
    padding: 1.4rem;
    font-size: 2em;
}

/**
 * #sectores
 */

.sectores {
    text-align: center;
    min-height: 100vh;
    width: 100vw;
}

.sectores > h6 {
    font-size: 5rem;
    color: var(--primary-color);
}

.sectores .line {
    width: 100%;
    height: 3rem;
    background: var(--bg-gradiant);
}

.sectores .container-box {
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container-box .sectores__item {
    width: 30rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    padding: 0.5rem 5rem;
}

.container-box .sectores__item > h6 {
    font-size: 3rem;
    color: var(--primary-color);
}


/***
  *
  * #contact
  */

.contact {

    margin-top: 5rem;
}

.contact h6 {
    color: var(--primary-color);
    font-size: 5rem;
    position: absolute;
    margin-left: 5rem;
}

.contact .box-container {
    padding: 0 4rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}


.contact .box-container .item img {
    object-fit: cover;
    min-height: 100vh;
}

.contact .box-container .item:nth-child(1) {
    position: relative;
    width: 80rem;
    background: #02133a;
    border-radius: 1.5rem;
    padding: 2.5rem 5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.item form .group-input {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}


.item form .input-box {
    margin-top: 1.2rem;
    width: 100%;
}

.item form .input-box input[type="text"] {
    padding: 2rem 4rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 2em;
    height: 3rem;
    width: 100%;
}

.item form .input-box textarea {
    padding: 0.2rem 0.4rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 2em;
    width: 100%;
}

/**
 * #footer
 */
.footer {
    width: 100%;
    display: flex;
    flex-flow: column;
    background: var(--bg-gradiant);
}

.footer .footer-top {
    padding: 5rem 4rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .footer-top .item {
    width: 50%;
}

.footer .footer-top .item h6 {
    color: var(--title-color);
}

.footer-top .item .contact__box {
    display: flex;
}


.footer-top .item .contact__box .item ul li {
    margin-top: 1.5rem;
}

.footer-top .item .contact__box .item ul li a {
    color: var(--title-color);
    font-size: 1.8em;
}

.footer-top .item .contact__box .item ul li a i {
    font-size: 1.8em;
    margin-left: 1.5rem;
}

.footer-top .item:nth-child(2) {
    display: flex;
    flex-flow: column;
    gap: 1rem;
    justify-content: space-between;
}

.footer-top .item:nth-child(3) iframe{
    width: 100%;
    height: 25rem;
    border-radius: 2rem;
} 

.footer-top .item .address,
.footer-top .item .terms {
    padding: 0.4rem 2rem;
}


.footer-top .item .address a i {
    font-size: 2rem;
}

.footer-top .item .address a,
.footer-top .item .terms a {
    color: var(--title-color);
    font-size: 1.5em;
    margin-top: 2rem;
}

.footer-bottom{
    display: flex;
    justify-content: center;
}

.footer-bottom h6{
    color: var(--title-color);
    font-size: 1.5rem;
    font-weight: 500;
}


/***
 * 
 * #shop start
 * 
 */

/** #backgroung__page */

.backgroung__page {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    top: -120px;
    width: 100vw;
    height: 40vh;
    background-image: url('../img/banners/desktop/banner_home.webp');
    background-position: center;
    background-size: cover;
}

.backgroung__page>h6 {
    position: relative;
    top: 50%;
    color: var(--title-color);
    font-size: 5rem;
}

/*** #Products */
.products {
    display: flex;
    justify-content: space-around;
    width: 100%;
    
}


.products .article {
    width: 70%;
}

.products .sidebar {
    width: 30%;
}

.products .sidebar {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
}

.products .sidebar .filter__group h6 {
    color: var(--primary-color);
    font-size: 3rem;
}


.products .sidebar .filter__group .filters ul li {
    margin-top: 1.2rem;
}

.products .sidebar .filter__group .filters ul li a {
    font-size: 1.8em;
    color: var(--primary-color);
    font-weight: 500;
}

.products .sidebar .filter__group:nth-child(2) .filters ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.products .sidebar .filter__group .filters ul li:hover a {
    color: var(--secondary-color);
}

.products .article {
    padding: 0.5rem;
}

.products .article .shop-block .shop-block__header {
    display: flex;
    justify-content: space-between;
}


.article .shop-block .shop-block__header h6 {
    font-size: 2.3em;
}

.article .shop-block .shop-block__header h6>span {
    color: var(--secondary-color);
}

.article .shop-block .shop-block__cards {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.shop-block .shop-block__cards .shop-block__card-item {
    max-width: 235px;
    width: 100%;
    padding: 1.4rem 1.5rem;
}

.shop-block .shop-block__cards .shop-block__card-item .img__product {
    background: var(--bg-gradiant);
    height: 15rem;
    border-radius: 0.8rem;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop-block .shop-block__cards .shop-block__card-item .img__product img{
    width: 80%;
    height: 80%;
}


.shop-block .shop-block__cards .shop-block__card-item .content {
    width: 100%;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.shop-block .shop-block__cards .shop-block__card-item .content>h6 {
    font-size: 2.2em;
    font-weight: 500;
    color: var(--primary-color);
}

.shop-block .shop-block__cards .shop-block__card-item .content .btn__cart {
    padding: 0.3rem 0.5rem;
    border: none;
    background: var(--secondary-color);
    border-radius: .5rem;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/** icon shop cart */

.shop-block__card-item .content .btn__cart i {
    color: var(--title-color);
    font-size: 2.5em;
}

/** pagination */
.pagination {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.pagination>li {
    width: 5rem;
    height: 5rem;
    background: transparent;
    color: #333333;
}

.pagination>li:first-child,
.pagination>li:last-child {
    margin: 0 2rem;
}

.pagination>li:first-child:hover:not(.disabled),
.pagination>li:last-child:hover:not(.disabled) {
    -webkit-box-shadow: 8px 18px 51px 0px rgba(31, 61, 157, 0.2);
    box-shadow: 8px 18px 51px 0px rgba(31, 61, 157, 0.2);
}

.pagination>li.dotted>p,
.pagination>li>span,
.pagination>li>a {
    border-radius: 0.5rem;
    font-size: 2rem;
    font-weight: 900;
    height: 100%;
    display: block;
    line-height: 50px;
    text-align: center;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    color: #333333;
}

.pagination>li>a:hover {
    color: red
}

.pagination>li>span {
    line-height: 48px;
    cursor: pointer;
    color: var(--title-color);
    background-color: var(--secondary-color);
    border:none;
}

.pagination>li>span:hover {
    color: #ffffff;
    background-color: #1f3d9d;
}

.pagination>li.disabled>span {
    cursor: auto;
    background-color: #f2f2f2;
    border: 1px solid #dfdfdf;
    color: #333333;
}

.pagination>li.active>a {
    color: var(--secondary-color);
}


/**! Product Details */
.product-details{
    height: 100vh;
    width: 100%;
    margin-top: 5rem;
}

.product-details .product-item{
    display: flex;
    justify-content: space-around;

}

.product-item .single-product .big-image{
    width: 45rem;
    height: 40rem;
    border-radius: 0.5rem;
    overflow: hidden;
    border: solid 1px grey;
    padding: 2.4rem 2.5rem;
    background: var(--bg-gradiant);
}

.product-item .single-product .thumbnail-set{
    width: 100%;
    height: 15rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product-item .single-product .thumbnail-set img{
    width: 10rem;
    height: 10rem;
    border-radius: 0.5rem;
    background: var(--bg-gradiant);
    padding: 0.2rem 0.5rem;
}

.product-item .description{
    padding:  2rem 5rem;
    width: 60rem;
}

.product-item .description h6{
    font-size: 4rem;
    font-weight: 600;
    color: var(--primary-color);
}

.product-item .description .text{
    font-size: 2rem;
}

.product-item .description .count-add{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.product-item .description .count-add .count-product{
    height: 5rem;
    width: 20rem;
    border:  1px solid var(--secondary-color);
    border-radius: 0.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    transition:  all 0.3s ease-in-out;
}

.product-item .description .count-add .count-product > span{
    display: block;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}


.product-item .description .count-add button{
    height: 5rem;
    outline: none;
    box-shadow: none;
    width: 160px;
    font-weight: 600;
    text-align: center;
    color: var(--title-color);
    text-transform: uppercase;
    background-color: var(--secondary-color);
    border: none;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
    cursor: pointer;
    font-size: 2rem;
}

.description .about__product{
    margin-top: 50px;
    max-width: 300px;
    width: 100%;
}

.description .about__product tr{
    height: 40px;
    line-height: 40px;
    font-size: 2rem;
}

/** Modal Form */
.modal-form{
    width: 100%;
    height: 100vh;
    background-color: #02133a5e;
    position: fixed;
    z-index: 999;
    top: -100rem; left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s linear;
    opacity: 0;
}

.modal-form__toggle{
    top: 0;
    opacity: 1;
}

.modal-form .modal-content{
    width: 35rem;
    height: auto;
    background: var(--title-color);
    border-radius: 0.8rem;
    padding: 3rem 2rem;
}

.modal-form .modal-content form .row{
    width: 100%;
    display: flex;
    justify-content: center;

}

.modal-content form .row .control{
    padding: 1rem 2rem;
    width: 100%;
}

.modal-content form .row .control input{
    width: 20rem;
    height: 3.5rem;
    padding: 0 0.5rem;
    font-size: 2rem;
    border-radius: 0.5rem;
    border: solid 1px var(--primary-color);
    outline: none;
}

.modal-content form .row .control .w-100{
    width: 100%;
}

.btn_quotation{
    width: 100%;
    padding: 1rem 2rem;
}

.btn-cancel{
    border: solid 1px var(--secondary-color);
    background: #ffe4e4;
    color: var(--secondary-color);
}

.modal-content form .row .control .product{
    display: flex;
}

.modal-content form .row .control .product .thumbnail {
    width: 50%;
}

.modal-content form .row .control .product .details{
    text-align: center;
}

.modal-content form .row .control .product .details h6{
    font-size: 1.5em;
}
